<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex,nofollow">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% include '@ArkounayBlockI18n/assets/include_css.html.twig' %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {% if has_inline_edit_permissions() %}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.4.3/tinymce.min.js"></script>
    {% endif %}
    {% include '@ArkounayBlockI18n/assets/include_js.html.twig' %}
{% endblock %}
</body>
</html>
